*{
    padding: 0;
    margin: 0;
}
.container{
    margin-top: 100px;
    color:white;
}

body{
    background-image: url(./images/6aqRIUf-kerala-wallpapers.jpg);
    background-size: cover;
}

#anc{
    text-decoration: none;
    color: deepskyblue;
}
