*{
    padding:0;
    margin:0;
}

body{
    background-image: url(./images/cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.container{
    margin-top: 40px;
}
.alog p{
    font-size: smaller;
}

form{
    padding:20px 10px 10px 10px;
    color: bisque;
}
.alog a{
    color:yellow;
    text-decoration: none;
}

form button{
    width:40%;
    opacity: 70%;
}
form button:hover{
    opacity: 100%;
}

footer {
    text-align: center;
    height:25px;
    padding-bottom: 1px;
    background-color: rgb(20, 116, 70);
    color: rgb(10, 10, 10);
    width:100%
}